@CHARSET "UTF-8";

body {
	background-color: blue;
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	 background-size: 100% 100%;
	line-height: 0.7cm;
	font-size: 20px;
}

a {
/* 	font-size: 5px; */
	font-weight: bold;
	color: #830095;
	letter-spacing: 0.5mm;
	text-decoration: none;
}

a#acceptNotify{
	color: green;
}

/* a:visited {  */
/*     color: ; */
/* } */

h2 {
	letter-spacing: 1mm;
}

h2.success{
	color: lime;
	font-size: 18px;
}

input[type=text], input[type=password] {
	background-color: rgb(200, 200, 255);
	border-radius: 8px;
	 box-shadow:inset 0 0 2px #000;
}

input[type=submit]{
	border-radius: 8px;	
}

input.deleteSubmit{
	border: none;
	background: transparent;
	cursor: pointer;
	background-image: url("../images/error.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	display:block;
    height:20px;
    width:inherit;
    text-align: center;
}

input.acceptSubmit{
	border: none;
	background: transparent;
	cursor: pointer;
	background-image: url("../images/OK.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	display:block;
    height:20px;
    width:inherit;
}

.delete{
	background-image: url("../images/error.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px 20px;
	display:block;
    height:20px;
    width:100px;

}

.error {
	color: #C90000;
	font-weight: bold;
}

div.editClinic {
	float: left;
	width: auto;
	margin-right: 100px;

}

div.clinicDoctors {
	width: auto;
	display: inline-block;
}

td.remove{
	width: 100px;
}

td#notifyAccept{
	width: 100px;
	text-align: center;
	height: auto;

}

span#newNotification{
	color: lime;
}

span#time{
	padding-left: 20px;
	float: right;
}

.errorBlock {
	border: 1px solid;
	margin: 10px 20px;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('resources/error.png');
	background-size: 3%;
}

.errorBlockDiv{
	margin-bottom: 20px;
}

.delForm{
	text-align: center;
	width: 100%;
}

.accForm{
	text-align: center;
	width: 100%;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:50%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:auto;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	}
.CSSTableGenerator tr:nth-child(odd){ height: 20px; background-color:#e2fbff; }
.CSSTableGenerator tr:nth-child(even)    { height: 20px; background-color:#ffffff; }
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:5px;
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #5f00bf 5%, #5656ff 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5f00bf), color-stop(1, #5656ff) );
	background:-moz-linear-gradient( center top, #5f00bf 5%, #5656ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5f00bf", endColorstr="#5656ff");	background: -o-linear-gradient(top,#5f00bf,5656ff);
	background-color:#5f00bf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:18px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:hover td{
	background-color: #988DFF;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}